body {
	font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
		"WenQuanYi Micro Hei", sans-serif;
}
/* span {
  color: tomato;
} */
/* a {
	color: #808080;
}

a:hover {
	color: #eb7350;
} */

.social-card {
	max-width: 600px;
	margin: auto;
	margin-bottom: 10px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	border-radius: 2px;
}

.feed-content {
	padding: 20px 20px 4px;
	background-color: white;
	overflow: auto;
	padding-bottom: 10px;
}

.avatar-image {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 50%;
}

.feed-avatar {
	float: left;
	position: relative;
}

.feed-detail {
	position: relative;
	margin-left: 60px;
}

.dropdown {
	position: absolute;
	display: block;
	top: 0px;
	right: 0px;
	background-color: transparent;
	border: none;
	color: #333;
}

.username {
	color: #333;
	display: block;
	text-decoration: none;
	font-size: 14px;
	font-weight: 700;
	/* font-family: ; */
	/* padding-top: 10px; */
}

.feed-info {
	color: #808080;
	text-decoration: none;
	font-size: 12px;
}

.feed-text {
	padding: 1px 0 3px;
	overflow: hidden;
	line-height: 23px;
	font-size: 14px;
}


button {
	border: none;
	outline: none;
	background-color: none;
}

.tag {
	cursor: pointer;
	color: #eb7350;
	white-space: nowrap;
}
